affine>=2,<3
annotated-types>=0,<1
anyio>=4,<5
appnope>=0,<1
astropy>=6,<7
astropy-iers-data>=0,<1
asttokens>=2,<3
attrs>=24,<25
awscli>=1,<2
beautifulsoup4>=4,<5
botocore>=1,<2
branca>=0,<1
Cartopy>=0,<1
certifi>=2024,<2025
cfgv>=3,<4
charset-normalizer>=3,<4
click>=8,<9
click-plugins>=1,<2
cligj>=0,<1
colorama>=0,<1
comm>=0,<1
contourpy>=1,<2
cycler>=0,<1
Cython>=3,<4
debugpy>=1,<2
decorator>=5,<6
dill>=0,<1
distlib>=0,<1
docutils>=0,<1
duckdb>=1,<2
executing>=2,<3
fastapi>=0,<1
filelock>=3,<4
fiona>=1,<2
folium>=0,<1
fonttools>=4,<5
future>=1,<2
GDAL>=3,<4
geoarrow-c>=0,<1
geoarrow-pandas>=0,<1
geoarrow-pyarrow>=0,<1
geodatasets>=2024,<2025
geographiclib>=2,<3
geojson>=3,<4
geopandas>=0,<1
geopy>=2,<3
h11>=0,<1
h3>=4,<5
h3ronpy>=0,<1
h5py>=3,<4
haversine>=2,<3
httpcore>=1,<2
httpx>=0,<1
identify>=2,<3
idna>=3,<4
iniconfig>=2,<3
interrogate>=1,<2
ipykernel>=6,<7
ipython>=8,<9
ipython-genutils>=0,<1
jedi>=0,<1
Jinja2>=3,<4
jmespath>=1,<2
joblib>=1,<2
jsonschema>=4,<5
jsonschema-specifications>=2024,<2025
jupyter_client>=8,<9
jupyter_core>=5,<6
kaleido>=0,<1
kiwisolver>=1,<2
llvmlite>=0,<1
lz4>=4,<5
mapclassify>=2,<3
markdown-it-py>=3,<4
MarkupSafe>=3,<4
matplotlib>=3,<4
matplotlib-inline>=0,<1
mdurl>=0,<1
multimethod>=1,<2
mypy-extensions>=1,<2
nbformat>=5,<6
nest-asyncio>=1,<2
networkx>=3,<4
nodeenv>=1,<2
numba>=0,<1
numpy>=1,<2
opencv-python>=4,<5
opencv-python-headless>=4,<5
osmnx>=1,<2
overpass>=0,<1
packaging>=24,<25
pandas>=2,<3
pandera>=0,<1
parso>=0,<1
pexpect>=4,<5
pillow>=11,<12
platformdirs>=4,<5
plotly>=5,<6
pluggy>=1,<2
polars>=1,<2
pooch>=1,<2
pre_commit>=4,<5
prompt_toolkit>=3,<4
psutil>=6,<7
ptyprocess>=0,<1
pure_eval>=0,<1
py>=1,<2
pyarrow>=17,<18
pyarrow-hotfix>=0,<1
pyasn1>=0,<1
pydantic>=2,<3
pydantic_core>=2,<3
pyerfa>=2,<3
pyfunctional>=1,<2
Pygments>=2,<3
pymap3d>=3,<4
pyogrio>=0,<1
pyparsing>=3,<4
pyproj>=3,<4
pyshp>=2,<3
pytest>=8,<9
python-dateutil>=2,<3
pytz>=2024,<2025
PyYAML>=6,<7
pyzmq>=26,<27
QuackOSM>=0,<1
rasterio>=1,<2
referencing>=0,<1
requests>=2,<3
rich>=13,<14
rpds-py>=0,<1
rsa>=4,<5
ruff>=0,<1
s2>=0,<1
s2sphere>=0,<1
s3transfer>=0,<1
scikit-learn>=1,<2
scipy>=1,<2
setuptools>=75,<76
shapely>=2,<3
six>=1,<2
sniffio>=1,<2
soupsieve>=2,<3
spherical_geometry>=1,<2
srai>=0,<1
stack-data>=0,<1
starlette>=0,<1
tabulate>=0,<1
tenacity>=9,<10
threadpoolctl>=3,<4
topojson>=1,<2
tqdm>=4,<5
traitlets>=5,<6
typeguard>=4,<5
typing-inspect>=0,<1
typing_extensions>=4,<5
tzdata>=2024,<2025
urllib3>=2,<3
uvicorn>=0,<1
virtualenv>=20,<21
wcwidth>=0,<1
wrapt>=1,<2
xyzservices>=2024,<2025
